builder/.vscode
factory/.idea
factory/.vscode
typescripts/fetchjson/node_modules
.idea
*.iml
typescripts/map/node_modules/
typescripts/map/.cache
typescripts/map/.vscode
typescripts/map/dist
scala/ScalaCookBook/.bsp
scala/ScalaCookBook/target
scala/ScalaCookBook/project
scala/ScalaCookBook/.idea.DS_Store
python/.vscode
